name: Publish k8s-api jar file CI

on: 
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@dd38875f930accc291b5816356a21f72056c0b70
        with:
          distribution: temurin
          java-version: 21
      
      - name: Setup Gradle with caching
        uses: gradle/actions/setup-gradle@v4
        
      - name: Publish package
        run: ./gradlew publish
        env:
          BLUESTEP_TOKEN: ${{ secrets.BLUESTEP_TOKEN }}
          BLUESTEP_ACTOR: ${{ secrets.BLUESTEP_ACTOR }}
